html {
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
  background-color: black;
}

.header{
  font-size:4em;
  font-family: 'Raleway', sans-serif;
  position: fixed;
  color: whitesmoke;
}

.container {
  height: 100%;
  flex: 1 0 auto; 
  /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}

.footer {
  flex-shrink: 0; 
  /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}
/*menu*/
/* .floating-menu {
font-family: 'Raleway', sans-serif;
padding: 5px;
width: 130px;
z-index: 100;
position: fixed;
right:10px;
opacity: 1;
}

.floating-menu a {
font-size: 1.2em;
display: block;
margin: 0 0.8em;
color: whitesmoke;
}

.sticky{
  position: fixed;
  right: 0;
  top:0;
  z-index:100;
  border-top:0;
} */

/*Large Feature*/

.jumbotron {
  background-color: inherit;
  opacity: 1;
  height: 570px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  color: whitesmoke;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  font-size: 3em;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  line-height: inherit;
}

/*Footer*/
.footer{
  font-family:'Raleway', sans-serif;
  font-size:1.35em;
  font-style:lighter;
  margin-top:20px;
  border-top-style:hidden;
  background-color:black;
  text-align: left;
  height:60px;
}
.footer a{
 display:inline-block;
 padding: 14px 10px 14px 10px;
 line-height: 0.1em;
 color: white;
 text-decoration: none;
}

/*Underline effect*/
a.effect-underline:after {
	content: ' ';
  position: relative;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1.5px solid;
  margin-top: -5px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

a.effect-underline:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

/*For devices width smaller or equal to 320px*/
@media (max-width:320px){
  .header {
    font-size: 3.5em;
    }
  .jumbotron {
    height: 500px;
  }
  .jumbotron h1 {
    font-size: 2.5em;
  }
  .footer {
    font-size: 1.0em;
  }
}

/*For devices width larger than 320px and smaller than 400px*/
@media (min-width:321px) and (max-width:399px){
  .header {
    font-size: 3.7em;
    }
  .jumbotron h1 {
    font-size: 2.5em;
  }
  .footer {
    font-size: 1.2em;
  }
}

/* For devices width larger than 400px and smaller than 549px*/
@media (min-width: 400px) and (max-width: 549px) {
  .header {
  font-size: 4em;
  }
  .jumbotron .container {
    position: relative;
    top:50px;
  }
  .jumbotron h1 {
    font-size: 2.5em;
  }  
}

/* For devices width larger than 550px */
@media (min-width: 550px){
  .header {
    font-size: 4.2em;
    }
    .jumbotron .container {
      position: relative;
      top:50px;
    }
    .jumbotron h1 {
      font-size: 2.5em;
    }  
}
/* For devices width larger than 1024px*/
@media (min-width: 1024px){
  .header {
    font-size: 4.2em;
    }
    .jumbotron .container {
      position: relative;
      top:50px;
    }
    .jumbotron h1 {
      font-size: 2.5em;
    }
}